<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option [routerLink]="link" *ngFor="let link of typesOfLinks" [value]="link">
          {{link}}
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
     
     
      <app-nav [drawer]="drawer"></app-nav>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
