
<div class="container-fluid main">


<div class="container login">
   <form [formGroup]="myForm" class="inLogin p-2">
  <mat-form-field class="col-3"appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input name="email" formControlName="email" matInput placeholder="Placeholder">
    
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
    
  <mat-form-field appearance="legacy">
    <mat-label>Enter your password</mat-label>
    <input  name="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div class="btndiv">
     <button type="button" mat-raised-button color="primary">Register</button>
    <button type="button" (click)="sign()" mat-raised-button color="accent">Login</button>
  </div>
</form> 
</div>
</div>
